body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(244, 234, 255);
}

header {
  text-align: center;
  padding: 32px;
}

h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}

header img {
  width: 300px;
}

main {
  width: 700px;
  margin: 50px auto 30px auto;
  border-radius: 10px;
  background-color: rgb(112, 59, 213);
  padding: 24px;
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.highlight-li {
  color: rgb(249, 190, 40);
  border-left: 5px solid rgb(249, 190, 40);
  padding-left: 10px;
}

a {
  text-decoration: none;
}

.external-link {
  background-color: rgb(252, 231, 165);
  color: rgb(57, 52, 70);
  padding: 2px;
  border-radius: 4px;
}

.external-link:hover {
  background-color: rgb(228, 191, 69);
}

footer {
  text-align: center;
}

#download-pdf {
  background-color: rgb(249, 190, 40);
  padding: 8px;
  border-radius: 8px;
  display: inline-block;
}

#download-pdf:hover {
  background-color: rgb(228, 163, 0);
}

footer p {
  color: rgb(92, 87, 87);
}
